<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      throwExceptions="false">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async="true">
		<target xsi:type="File" 
				name="info" 
				fileName="${basedir}/logs/info/log_${shortdate}.log" 
				archiveAboveSize="500000"  
				encoding="utf-8"
				layout="${longdate} | ${logger} [${level}]: ${message}${exception:format=ToString}"/>
		<target name="debug" 
				xsi:type="File" 
				fileName="${basedir}/logs/debug/log_${shortdate}.log" 
				archiveAboveSize="500000"  
				encoding="utf-8" 
				layout="${longdate} ${callsite} [${level}]： ${message}"/>
		<target xsi:type="File" 
				name="error"				
				fileName="${basedir}/logs/error/log_${shortdate}.log" 
				archiveAboveSize="500000"  
				encoding="utf-8" 
				layout="${longdate} | ${logger} [${level}]: ${message}${exception:format=ToString}"/>
		<target	xsi:type="File" 
				 name="trace" 
				fileName="${basedir}/logs/trace/log_${shortdate}.log" 
				archiveAboveSize="500000"  
				encoding="utf-8" 
				layout="${longdate} ${callsite} [${level}]： ${message}"/>
		<target	xsi:type="File"
				name="warn"
				fileName="${basedir}/logs/warn/log_${shortdate}.log" 
				archiveAboveSize="500000"  
				encoding="utf-8" 
				layout="${longdate} ${callsite} [${level}]： ${message}"/>
		<!-- write logs to file  -->
		<!--<target xsi:type="File" name="all" fileName="${basedir}/logs/${shortdate}-all.log"
            layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />-->

		<!-- another file log, only own logs. Uses some ASP.NET core renderers -->
		<!--<target xsi:type="File" name="custom" fileName="${basedir}/logs/${shortdate}.log" encoding="utf-8"
				layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}" />-->
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<!--All logs, including from Microsoft-->
		<!--<logger name="*" minlevel="Trace" writeTo="allfile" />-->

		<!--Skip non-critical Microsoft logs and so log only own logs-->
		<logger name="*"  level="Debug" writeTo="debug" />
		<logger name="*"  level="Info" writeTo="info"/>
		<logger name="*" level="Warn" writeTo="warn"/>
		<logger name="*" level="Trace" writeTo="trace"/>
		<logger name="*" level="Error" writeTo="error"/>
		<!-- BlackHole without writeTo -->
		<!--<logger name="*" minlevel="Trace" writeTo="custom" />-->
	</rules>
</nlog>